/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #4e73df, #1cc88a);
  min-height: 100vh;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Heading */
h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Button */
button {
  padding: 12px 22px;
  border: none;
  background: linear-gradient(135deg, #4e73df, #2e59d9);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 25px;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Grid Layout */
.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* User Card */
.user-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
    cursor: pointer;
}

.user-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

/* Profile Image */
.user-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  border: 3px solid #4e73df;
}

/* User Info */
.user-card h3 {
  margin-bottom: 8px;
  color: #222;
  font-weight: 900;
}

.user-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  font-weight: 700;
}

/* Loader */
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid #4e73df;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.hidden {
  display: none;
}

#search-input {
  width: 100%;
  max-width: 400px;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

#search-input:focus {
  border-color: #4e73df;
  box-shadow: 0 0 8px rgba(78, 115, 223, 0.3);
}

.pagination button {
    margin: 0 4px;
    padding: 6px 10px;
}

.active-page {
    background-color: #2e59d9;
    color: white;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive */
@media (max-width: 500px) {
  .container {
    padding: 15px;
  }
}
